.heading_tag{
    width: 100%;
    font-size: 30px ;
    box-shadow: 5px 5px 5px orange;
    color: palegreen;
}

.heading_tag2{
padding: 20px;
float: none;
background-color: orange;
font-size: 10px;
border-radius: 20px;
color:black;
}

.objects {
    color: white;
    float: none;
    background-color:violet;
    font-size: 15px;
    border-radius: 15px;
    
}


.object {
    box-shadow: 5px 5px 5px black;
    font-size: 5px;
}

.accuracy {
    box-shadow: 5px 5px 5px black;
    font-size: 5px;
}

.footer_tag {
    color: black;
    height: 40px;
    font-size: 20px;
    background-color: cyan;
    width: 100%;
    position: fixed;
text-align: center;
bottom:0;
}

canvas {
    border: black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px orange;
    color: white;
margin-top: 170px;
}